/* Config. gerais do projeto */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  /* ==== Cores ==== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #4f46e5;
  --primary-color-light: #f6f5ff;
  --toogle-color: #ddd;
  --text-color: #707070;
  --text-color1: #0a0a0a;
  --text-dourado: #cda142;
  --e-global-color-90d5590: #b89b5e;
  --e-global-color-2887118: #223555;
  --e-global-color-b19f1cd: rgba(184, 155, 94, 0.05);
  --e-global-color-9a78024: #f4f4f4;
  --e-global-color-4237180: #e3e3e3;

  /* ==== Trans ==== */
  --trans-02: all 0.2s ease;
  --trans-02-o: 0.2s ease-out;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.5s ease;
}

/* config header */
.demo-content {
  position: relative;
}

.fundo-header {
  height: 550px !important;
  position: relative;
  width: 100%;
}

.fundo-header:before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 550px;
  background-image: linear-gradient(
      to bottom,
      rgba(31, 33, 40, 0.799),
      rgba(7, 7, 8, 0.793)
    ),
    url("../images/Tribunal-Rio.jpg");
  background-repeat: no-repeat;
  background-position: 60% 0;
  background-size: cover;
  background-position: bottom bottom;
}

.duvida {
  font-family: "Lora", Sans-serif;
  color: var(--text-dourado);
}

.bem-vindo {
  padding-top: 15px;
}

.texto {
  font-family: "Oxygen", Sans-serif;
  font-size: 20px;
  width: 50%;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 1);
}

.title {
  font-family: "Lora", Sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: var(--text-dourado);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 2.5);
  padding: 5px 0 0 0px;
  margin-top: -15rem;
}

.row .btn-success,
.row .btn-success:active,
.row .btn-success:visited,
.row .btn-success:focus {
  border: solid 2px;
  border-color: var(--e-global-color-90d5590);
  border-radius: -8px -8px -8px -8px;
  transition: 0.5s;
}

.row .btn-success:hover {
  background-color: transparent;
  border-color: var(--e-global-color-90d5590) !important;
}

.logo-auer {
  width: 285px;
  height: 212px;
  object-fit: cover;
  align-items: flex-end;
}

/* conteudo Como posso te ajudar */
.title1 {
  font-family: "Lora", Sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: var(--text-dourado);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 2.5);
  /* top | right | bottom | left */
  padding: 15px 0 0 0px;
}

.divider {
  margin-top: -10px !important;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.dourado {
  color: var(--text-dourado);
}

.elementor {
  width: 95%;
  text-align: left;
  /* background: #707070; */
  font-size: large;
}

.elementor .elementor-title {
  color: #223555;
  height: 60px;
  /* background: #4f46e5; */
}

.elementor-sub-title a.btn-auer {
  border: none;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1.5);
}

.elementor-sub-title a.btn-auer:hover {
  background-color: var(--e-global-color-90d5590) !important;
  /* background-color: transparent; */
  color: #223555;
  border-color: var(--e-global-color-90d5590) !important;
}

.divider {
  margin-top: -10px !important;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.elementor-sub-title {
  height: 125px;
  /* background: #664d33; */
  text-align: justify;
  font-weight: 500;
  color: var(--e-global-color-90d5590);
}

.elementor-content {
  /* height: 400px; */
  height: 250px;
  /* background: #198754; */
  text-align: justify;
}

.elementor-ass {
  /* background: #4f46e5; */
  height: 60px;
  text-align: right;
}

.elementor-ass .nome {
  font-family: "Grey Qo", Sans-serif;
  height: 30px;
  text-align: right;
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

/* conteudo conheca seu advogado */
.perfil {
  width: 345px;
  height: 484px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1.5);
}

.sombra-adv {
  color: var(--text-dourado);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 2.5);
}

.sombra-adv1 {
  color: var(--text-dourado);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1.5);
}

.linha-row {
  background-color: #4f46e5;
  max-width: 50%;
}

/* conteudo O que dizem os nossos Clientes */

.localizacao {
  width: 500px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.nav-item a.nav-link,
.nav-item a.nav-link:active,
.nav-item a.nav-link:visited,
.nav-item a.nav-link:focus {
  color: var(--sidebar-color);
}

.nav-item a.nav-link:hover {
  color: var(--e-global-color-90d5590);
}

.i-frame-loc {
  margin-bottom: -10px;
  border: 0;
  height: 450px;
  width: 100%;
  padding-bottom: 0;
}

.section-loc {
  height: 50px;
}

.conheca-h3 {
  margin-top: -25px;
}

/* resolucao < 1024px */

@media (width > 1200px) and (width < 1400px) {
  .elementor {
    font-size: medium;
  }

  .elementor-sub-title {
    height: auto;
  }

  .elementor-content {
    height: auto;
  }
}

@media (width < 1250px) {
  .fundo-header {
    height: 390px !important;
  }

  .fundo-header:before {
    height: 390px !important;
  }

  .logo-auer {
    width: 175px;
    height: 125px;
    object-fit: cover;
    align-items: flex-end;
  }

  .texto {
    font-size: 15px;
    width: 80%;
  }

  .title1 {
    font-size: 1.7em;
    padding: 5px 0 0 0px;
  }

  .title {
    font-size: 2em;
    margin-top: -7rem;
  }

  .elementor {
    font-size: medium;
  }

  .elementor-sub-title {
    height: auto;
  }

  .elementor-content {
    height: auto;
  }

  .nav-nome-rede {
    font-size: 12px;
  }

  .contatos {
    font-size: small;
  }
}

@media (width < 768px) {
  .fundo-header {
    height: 450px !important;
  }

  .fundo-header:before {
    height: 450px !important;
  }

  .logo-auer {
    width: 115px;
    height: 85px;
    object-fit: cover;
    align-items: flex-end;
  }

  .texto {
    font-size: 15px;
    width: 80%;
  }

  .title {
    font-size: 2em;
    margin-top: -10rem;
  }
}

@media (width < 576px) {
  .title {
    font-size: 2em;
    margin-top: -4rem;
  }

  .texto {
    font-size: 15px;
    width: 100%;
  }
}
